.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
body {
	background-image: url(../img/background_main.png);
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.top_menu {
	background-color: #ecdae7;
	height: 40px;
}
.menu {
	float: left;
	padding-top: 14px;
	position: relative;
	padding-left: 16px;
}
.menu_text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
.menu:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.25em;
	width: 1em;
	height: 0.15em;
	background: black;
	box-shadow: 
	0 0.25em 0 0 black,
	0 0.5em 0 0 black;
	margin-top: 14px;
}

.cities {
	float: left;
	padding-top: 14px;
	padding-left: 72px;
}
.city_text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
.cities:after {
	position: relative;
	top: 0px;
	left: 10px;
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	border-right: 2px solid #bb66a4;
	border-bottom: 2px solid #bb66a4;
	transform: rotate(45deg);
}	
.headline {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding-top: 16px;
	padding-left: 74px;
	color: #b85e9f;
}
.enter {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding-top: 16px;
	padding-left: 57px;
}
.enreg {
	text-decoration: none;
	color: black;
}
.cart {
	float: left;
	width: 66px;
	height: 40px;
	border: 2px solid #34bdab;
	box-sizing: border-box;
	background: #34bdab;
	margin-left: 58px;
}
.main_menu {
	height: 110px;
	background-color: white;
}
.hotline {
	float: left;
	padding-top: 52px;
}
.hotline_text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #959595;
}
.hotline_text span {
	color: black;
	font-weight: bold;
}
.main_logo {
	float: left;
	padding-left: 106px;
	padding-top: 22px;
}
.search_text {
	float: left;
	margin-left: 91px;
	margin-top: 40px;
	width: 293px;
	height: 24px;
}
.search {
	float: left;
	margin-top: 40px;
	border: 1px solid #48c3b3;
	background: #48c3b3;
	box-sizing: border-box;
	width: 67px;
	height: 30px;
	border-top-right-radius: 7pc;
	border-bottom-right-radius: 7pc;
}
.nav {
	background-color: #b85e9f;
	height: 40px;
}
.navbar_text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: white;
	display: block;
}
.navbar_item {
	float: left;
	padding-left: 40px;
	display: block;
	position: relative;
	cursor: pointer;
	padding-top: 16px;
}
.navbar_item:nth-child(1) {
	padding-left: 18px;
}
.navbar_child {
	opacity: 0;
	display: none;
	box-shadow: 0 0 5px;
	margin-top: 20px;
	position: relative;
}
.navbar_item:hover .navbar_child {
	opacity: 1;
	display: block;
	position: absolute;
	z-index: 10;
}
.navbar_child .navbar_text {
	color: black;
}
.navbar_child .navbar_text:hover {
	color: #b85e9f;
}
.solo_slider {
	margin: 30px;
}
.advertising {
	height: 305px;
	background: url(../img/background.png);
}
.adver_img {
	padding: 70px 70px;
}
.brands {
	padding-top: 80px;
	background-color: white;
}
.brand_head {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
.brand_slider {
	margin-top: 60px;
	margin-left: 70px;
}
.novice {
	background-color: white;
	padding-top: 82px;
}
.novice_head {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
.novice_slider {
	background-color: white;
	padding-top: 35px;
	padding-left: 15px;
	padding-right: 15px;
}
.novice_img {
	display: block;
	margin: 0 auto;
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	width: 130px;
}
.icon-star {
	content: '\e802';
	color: #cccccc;
	font-size: 15px;
	display: inline-block;
	padding-top: 30px;
}
.rating > i:hover,
.rating > i:hover ~ i {
  color: #ffca54;
  cursor: pointer;
}
.trade_name {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-left: 12px;
}
.trade_price {
	margin-top: 20px;
	padding-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-left: 15px;
	padding-left: 10px;
	color: white;
	background-color: #b85e9f;
	border: 1px solid #b85e9f;
	width: 85px;
	height: 32px;
}
.sale {
	background-color: white;
	padding-left: 15px;
}
.sale_head {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	padding-top: 82px;
}
.card_item {
	float: left;
	width: 290px;
	height: 341px;
	margin-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 13px;
	box-sizing: border-box;
}
.card_item:hover {
	box-shadow: 0px 0px 3px rgba(0,0,0,1)
}